.wrapper {
  padding: 0;
  overflow: hidden;
  margin-block: 0 50px;
}

@media screen and (min-width: 700px) {
  .right {
    width: 200px;
  }
}

@media screen and (min-width: 700px) {
  .wrapper {
    display: flex;
    gap: 25px;
  }
}

@media screen and (min-width: 700px) {
  .left {
    width: calc(100% - 200px);
  }
}
