.list {
  padding-bottom: 35px;
}
.list .items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .list .items {
    grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
  }
}
@media screen and (min-width: 1200px) {
  .list .items {
    grid-template-columns: repeat(auto-fit, minmax(auto, 370px));
    /* justify-content: flex-start; */
  }
}
.list > div {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list .cta {
  height: 50px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  line-height: 50px;
  padding: 0 30px;
  align-self: flex-end;
  margin: 20px 0 0 0;
  width: fit-content;
}

.wrapper {
  display: flex;
  justify-content: center;
}
